ENV=development
PORT=8084
GRPC_PORT=50054

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecocomply
DB_USER=postgres
DB_PASSWORD=secret

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

JWT_SECRET=change-me
JWT_EXPIRY_HOURS=24

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

TEMPLATE_PATH=./internal/pdf/templates
INSPECTION_SERVICE_URL=http://localhost:8082
MEDIA_SERVICE_URL=http://localhost:8083
APP_BASE_URL=http://localhost:8080
